@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0px;
  margin: 0px;
  transition: 0.8ms;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0%;
  margin: 0%;
}

.button {
  padding: 15px 40px;
  border-radius: 5px;
  background-color: rgb(199, 18, 18);
  color: white;
  font-size: 20px;

  margin-top: 10px;
}
.button:hover {
  background-color: blue;
  cursor: pointer;
}

.menu-bar {
  text-align: center;
  font-size: 25px;
  font-weight: 500;

  background-image: url(/images/donation13.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.menu-text {
  padding: 80px;
}

.donate-text {
  text-align: center;
  padding: 50px;
  margin-top: 60px;
}

.box-conatiner {
  display: flex;
  text-align: auto;
  font-size: 25px;
  font-weight: 1000;
  justify-content: space-evenly;
  padding: 20px;
}

.box {
  background-color: gainsboro;
  width: 60px;
  padding: 40px;
  margin: 20px;
  height: 20px;
  border-radius: 2px;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(139, 35, 35, 0.2);
}

.orange {
  background-color: rgb(189, 76, 76);
  border: 3px solid rgb(92, 28, 28);
}

.border {
  /* border: 2px solid red;
    width: 800px;
    margin-top:19px; */
  margin: auto;
  width: 50%;
  border: 2px solid gray;
}

.center {
  text-align: center;
  font-size: 20px;
  font-weight: 500px;
}

.button-center {
  margin: 0 auto;
  display: block;
  padding: 15px 40px;
  border-radius: 5px;
  background-color: rgb(199, 18, 18);
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
.button-center:hover {
  background-color: blue;
  cursor: pointer;
}

.donate-text-section {
  text-align: center;
  font-size: medium;
  font-weight: 500px;
  padding: 80px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.box-section {
  display: flex;
  justify-content: space-evenly;
}

.box1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  padding: 4%;
  background-color: lemonchiffon;
}

.box1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.box1-container {
  padding: 2px 16px;
}

.text-section {
  text-align: center;
  font-size: 20px;
  font-weight: 100px;
}

.get-my-update {
  padding: 70px;
}

.notes {
  /* height: 30px;
    width: 70px;
    border: 50px;
    padding: 100px;
    background-color: antiquewhite; */
  background-color: #ddffdd;
  border-right: 200px solid #04aa6d;
  padding: 20px;
  height: 20px;
  /* width: 10px; */
  margin-left: 300px;
  margin-right: 300px;
}
.note-text {
  display: flex;
  justify-content: space-between;
}

.footer {
  height: 150px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 200px;
  text-align: center;
}

.footer-text-part {
  padding: 30px;
}
.italic {
  font-style: italic;
  color: tomato;
}
